@font-face {
	font-family: 'Open Sans';
	src: url('fonts/main.woff');
}

body {
   background: url('img/bg.png');
   font: 13px 'Open Sans', verdana;
	margin: 0px;
   padding: 0px;
}

table, tr, td {
   background: transparent;
   border: 0px solid black;
   font: 13px 'Open Sans', verdana;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
   vertical-align: top;
   color: #F1F1F1;
}

#innerbody {
   padding-top: 30px;
   padding-left: 30px;
}

#relational, #red, #green, #blue {
   background: url('img/pattern.png');
   border: 4px solid white;
   padding: 0px;
   margin: 0px;
   transition: .2s;
}

#red, #green, #blue {
   margin-bottom: 15px;
}

#red {
   margin-right: 7.5px;
}

#green {
   margin-right: 7.5px;
   margin-left: 7.5px;
}

#blue {
   margin-left: 7.5px;
}

#tooltip {
   background: black;
   font: 13px 'Open Sans', verdana;
   color: white;
   padding: 6px;
   width: fit-content;
   text-align: center;
   border-radius: 4px;
   position: absolute;
   opacity: 0;
   transition: .2s;
}

#settings {
	background: url('img/dark.png');
	position: absolute;
	height: 100%;
   width: 100%;
   opacity: 0;
   display: none;
   transition: .2s;
}

#settings td {
	vertical-align: middle;
}

#settings div {
	border: 3px solid #9C9C9C;
	background: url('img/inner2.png');
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

#settings table {
   width: 100%;
}

#settings table td:nth-child(2) {
   text-align: right;
}

hr {
   padding: 0px;
   margin: 15px;
   border: 0px solid black;
   border-top: 1px dotted #8E8E8E;
   border-bottom: 1px dotted #4F4F4F;
}

select {
   width: 100px;
}