@font-face {
	font-family: 'Open Sans';
	src: url('fonts/main.woff');
}

body {
   background: url('img/bg.png');
   font: 13px 'Open Sans', verdana;
	margin: 0px;
   padding: 30px;
}

table, tr, td {
   background: transparent;
	border: 0px solid black;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	vertical-align: top;
}

#relational, #red, #green, #blue {
   background: url('img/pattern.png');
   border: 4px solid white;
   padding: 0px;
   margin: 0px;
}

#red, #green, #blue {
   margin-bottom: 15px;
}

#red {
   margin-right: 7.5px;
}

#green {
   margin-right: 7.5px;
   margin-left: 7.5px;
}

#blue {
   margin-left: 7.5px;
}

#tooltip {
   background: black;
   font: 13px 'Open Sans', verdana;
   color: white;
   padding: 6px;
   width: fit-content;
   text-align: center;
   border-radius: 4px;
   position: absolute;
   opacity: 0;
   transition: .2s;
}