body {
   background: url('img/bg.png');
	color: #505050;
	margin: 0px;
	padding: 30px;
}

#box {
   background: url('img/pattern.png');
   border: 4px solid white;
   color: #505050;
   padding: 0px;
   margin: 0px;
   height: 500px;
}